body{ 
    background-color: aqua;
}
h1{ 
    text-align: center;
}
div{
    background-color: white;
    height:200px;
    width:200px;
    float: left;
    margin:50px;
    text-align: center;
}

{ 
    .icon{ 
        margin-top: 80px;
        margin-left: 20px;
        margin-right: 50px;
        
       

    }
}
i{ 
    font-size: 60px;
}
hr
{ 
    background-color: black;
    height:2px;
    width:100px
    
}