body{ 
    background-image: url(https://wallpaperaccess.com/full/838.jpg );
}
h1{ 
    text-align: center;
}
div{
    background-color: lightgray;
    height:250x;
    width:250x;
    float: left;
    margin:50px;
    text-align: center;
}

{ 
    .icon{ 
        margin-top: 80px;
        margin-left: 20px;
        margin-right: 50px;
        
       

    }
}
i{ 
    font-size: 60px;
}
hr
{ 
   
}